openapi: 3.2.0
info:
  title: Zenscrape Account API
  description: Zenscrape is a web scraping API that returns the rendered HTML of a target URL.
  termsOfService: https://zenscrape.com/terms-and-conditions/
  contact:
    name: Zenscrape Support
    url: https://zenscrape.com/contact/
  version: '1.0'
servers:
- url: https://app.zenscrape.com/api/v1
security:
- apikey: []
tags:
- name: Account
paths:
  /status:
    get:
      operationId: getStatus
      tags:
      - Account
      summary: Return remaining account credits
      description: Returns the number of request credits remaining for the authenticated account.
      responses:
        '200':
          description: Remaining account credits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '401':
          description: Unauthorized - missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
    Status:
      type: object
      properties:
        remaining_requests:
          type: integer
          description: Number of request credits left on the account.
  securitySchemes:
    apikey:
      type: apiKey
      in: header
      name: apikey
      description: API key issued from the Zenscrape dashboard. May also be supplied as the `apikey` query parameter or form field.
